.custom-btn {
    background-color: #754ffe;
    color: #fff;
}
.custom-btn:hover {
    background-color: #754ffe7a;
}
.custom-text {
    color:  #754ffe;
}

.custom-bg {
    background-color:  #754ffe;
}
